---
- name: If reset is true, reset existing Kubernetes cluster
  ansible.builtin.command: kubeadm reset -f
  when: k8s_reset  | default(false)
  become: true
  tags: [k8s_reset, k8s_all]

- name: If reset is true, remove old Kubernetes directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop:
    - /etc/kubernetes
    - /var/lib/etcd
    - /var/lib/kubelet
    - /etc/cni/net.d
    - /var/lib/cni
  when: k8s_reset | default(false)
  become: true
  tags: [k8s_reset, k8s_all]

- name: Check IPv4 forwarding is enabled
  ansible.posix.sysctl:
    name: net.ipv4.ip_forward
    value: '1'
    state: present
    reload: true
  become: true
  tags: [k8s_control_plane, k8s_all]

- name: Check containerd is running
  ansible.builtin.service:
    name: containerd
    state: started
    enabled: true
  become: true
  tags: [k8s_control_plane, k8s_all]

- name: Check kubelet is running
  ansible.builtin.service:
    name: kubelet
    state: started
    enabled: true
  become: true
  tags: [k8s_control_plane, k8s_all]

- name: Init Kubernetes control plane
  ansible.builtin.command: >
    kubeadm init
    --pod-network-cidr={{ k8s_control_plane_pod_network_cidr }}
    --apiserver-advertise-address={{ ansible_host | default(ansible_default_ipv4.address) }}
  args:
    creates: /etc/kubernetes/admin.conf
  register: k8s_control_plane_kubeadm_init
  become: true
  tags: [k8s_control_plane, k8s_all]

- name: Create .kube directory for ubuntu
  ansible.builtin.file:
    path: "{{ k8s_control_plane_kubeconfig_path | dirname }}"
    state: directory
    owner: ubuntu
    group: ubuntu
    mode: "0700"
  become: true
  tags: [k8s_control_plane, k8s_all]

- name: Copy admin.conf to user kube config
  ansible.builtin.copy:
    src: /etc/kubernetes/admin.conf
    dest: "{{ k8s_control_plane_kubeconfig_path }}"
    owner: ubuntu
    group: ubuntu
    mode: "0600"
    remote_src: true
  become: true
  tags: [k8s_control_plane, k8s_all]

- name: Get current env label of the node
  ansible.builtin.command: >
    kubectl get node {{ ansible_facts['hostname'] }}
    -o jsonpath='{.metadata.labels.env}'
  environment:
    KUBECONFIG: "{{ k8s_control_plane_kubeconfig_path }}"
  register: k8s_control_plane_env_label
  changed_when: false
  failed_when: false
  when: env_name is defined
  become: true
  become_user: ubuntu
  tags: [k8s_control_plane, k8s_all]

- name: Label node with environment
  ansible.builtin.command: >
    kubectl label node {{ ansible_facts['hostname'] }} env={{ env_name }} --overwrite
  environment:
    KUBECONFIG: "{{ k8s_control_plane_kubeconfig_path }}"
  when:
    - env_name is defined
    - (k8s_control_plane_env_label.stdout | default('')) != env_name
  become: true
  become_user: ubuntu
  changed_when: false
  tags: [k8s_control_plane, k8s_all]
