---
- name: Ensure ArgoCD namespace exists
  kubernetes.core.k8s:
    api_version: v1
    kind: Namespace
    name: argocd
    state: present
    kubeconfig: "{{ k8s_kubeconfig_user | default('/home/ubuntu/.kube/config') }}"
  tags: ['k8s_argocd', 'k8s_all']

- name: Ensure argo Helm repo exists
  ansible.builtin.command:
    cmd: helm repo add argo https://argoproj.github.io/argo-helm
  register: k8s_argocd_repo_add
  failed_when: >
    k8s_argocd_repo_add.rc != 0 and
    ('exists' not in k8s_argocd_repo_add.stderr | lower)
  changed_when: >
    k8s_argocd_repo_add.rc == 0 and
    ('has been added' in k8s_argocd_repo_add.stdout | lower)
  tags: ['k8s_argocd', 'k8s_all']

- name: Update Helm repositories
  ansible.builtin.command:
    cmd: helm repo update
  changed_when: false
  tags: ['k8s_argocd', 'k8s_all']

- name: Install/upgrade ArgoCD via Helm
  kubernetes.core.helm:
    name: argocd
    chart_ref: argo/argo-cd
    release_namespace: argocd
    create_namespace: false
    state: present
    values:
      server:
        extraArgs:
          - --insecure
    kubeconfig: "{{ k8s_kubeconfig_user | default('/home/ubuntu/.kube/config') }}"
  tags: ['k8s_argocd', 'k8s_all']

- name: Wait for ArgoCD server to be Ready
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Pod
    namespace: argocd
    label_selectors:
      - app.kubernetes.io/name=argocd-server
    kubeconfig: "{{ k8s_kubeconfig_user | default('/home/ubuntu/.kube/config') }}"
  register: k8s_argocd_pods
  until: k8s_argocd_pods.resources | length > 0
  retries: 20
  delay: 15
  tags: ['k8s_argocd', 'k8s_all']
