---
- name: Check if node is already joined
  ansible.builtin.stat:
    path: /etc/kubernetes/kubelet.conf
  register: k8s_worker_kubelet_conf
  tags: ['k8s_worker', 'k8s_all']

- name: Generate kubeadm join command on control-plane
  ansible.builtin.command: kubeadm token create --print-join-command
  register: k8s_worker_kubeadm_join_cmd
  changed_when: false
  run_once: true
  delegate_to: "{{ groups['control_plane'][0] }}"
  tags: ['k8s_worker', 'k8s_all']

- name: Join the worker to the cluster
  ansible.builtin.command: "{{ k8s_worker_kubeadm_join_cmd.stdout }}"
  when: not k8s_worker_kubelet_conf.stat.exists
  become: true
  tags: ['k8s_worker', 'k8s_all']

- name: Ensure kubelet is enabled and running
  ansible.builtin.service:
    name: kubelet
    enabled: true
    state: started
  become: true
  tags: ['k8s_worker', 'k8s_all']
