apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "mono-app-backend.fullname" . }}
  labels:
    {{- include "mono-app-backend.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "mono-app-backend.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "mono-app-backend.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.serviceAccount.create }}
      serviceAccountName: {{ include "mono-app-backend.fullname" . }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.targetPort }}
              protocol: TCP
          envFrom:
          {{- if eq .Values.config.secretsManager true }}
          - secretRef:
              name: {{ include "external-secrets-name" . }}
          {{- end }}
          {{- if eq .Values.config.parameterStore true }}
          - secretRef:
              name: {{ include "external-parameters-name" . }}
          {{- end }}
          {{- if .Values.vault.enabled }}
          - secretRef:
              name: {{ include "external-secrets-name" . }}
          {{- end }}
          #livenessProbe:
          #  httpGet:
          #    path: /
          #    port: {{ .Values.service.targetPort }}
          #  initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
          #  periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
          #  failureThreshold: {{ .Values.livenessProbe.failureThreshold }}
          readinessProbe:
            httpGet:
              path: {{ .Values.readinessProbe.path }}
              port: {{ .Values.service.targetPort }}
              httpHeaders:
              {{- range .Values.readinessProbe.httpHeaders }}
               - name: {{ .name | quote }}
                 value: {{ .value | quote }}
              {{- end }}
            initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
            failureThreshold: {{ .Values.readinessProbe.failureThreshold }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
